#Header {
  background: #fff;
  box-shadow: none;
  border-bottom: 1px solid #dadce0;
  overflow-y: none;

  .grow {
    flex-grow: 1;
  }

  .menu-button {
    margin-right: 0 16px 0 -12px;
    color: #5f6368;
  }

  .logo {
    display: 'block';
    cursor: pointer;
    user-select: none;
    color: #5f6368;
    word-break: break-word;
    white-space: normal;
    opacity: 1;
    font-family: 'Product Sans', Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    vertical-align: middle;
  }

  @media (max-width: 600px) {
    .logo-img {
      display: none;
    }
  }

  .searchicon {
    width: 47px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5f6368;
  }

  .inputRoot {
    color: inherit;
    font-weight: 400;
    font-family: 'Roboto';
  }

  .sectionDesktop {
    display: none;
    display: flex;
  }

  .sectionMobile {
    display: flex;
  }
}
