#Sidebar {
  .MuiPaper-root {
    border: 0;
  }

  #SidebarContent {
    .MuiButtonBase-root {
      border-radius: 0 25px 25px 0;
    }

    .MuiDivider-root {
      background: #ddd;
    }

    .logo {
      display: flex;
      align-items: center;
      padding-left: 16px;

      h3 {
        display: 'block';
        cursor: pointer;
        user-select: none;
        color: #5f6368;
        word-break: break-word;
        white-space: normal;
        opacity: 1;
        font-family: 'Product Sans', Arial, sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 24px;
        vertical-align: middle;
      }
    }

    span {
      font-family: 'Roboto' sans-serif;
      font-size: 0.875rem;
      font-weight: 500;
      color: #202124;
    }
  }
}
