@import './functions';
@import './variables';
@import './GuestLanding';
@import './Nav';
@import './TypeWriter';
@import './Button';
@import './Presentation';

html,
body {
  padding: 0;
  margin: 0;
  @include maxWidthHeight();
  font-size: inherit;

  #root {
    @include maxWidthHeight();
    display: flex;
    flex-direction: column;
  }

  #Landing {
    @include maxWidthHeight();
    display: flex;
    flex-direction: column;
  }

  #Header {
    background: $bgColor;
  }

  #Tabs {
    background: $bgColor;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
