// Tools
@import './functions';
@import './variables';

// Loading
@import './Loading';

// GuestLanding
@import './GuestLanding';
@import './Nav';
@import './TypeWriter';
@import './Button';
@import './Presentation';

// Layout
@import './Header';
@import './Menu';
@import './Sidebar';

// AuthLanding
@import './AuthLanding';
@import './Search';
@import './Home';

// Base Style
html,
body {
  @include maxWidthHeight();
  @include noMarginPadding();
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

  #root {
    @include maxWidthHeight();
    display: flex;
    flex-direction: column;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
