// Tools
@import './functions';
@import './variables';

// Common
@import './common/Loading';

// Landing
@import './landing/GuestLanding';
@import './landing/Nav';
@import './landing/TypeWriter';
@import './landing/Button';
@import './landing/Presentation';

// Header
@import './header/Header';
@import './header/ProfileMenu';

// Sidebar
@import './sidebar/Sidebar';

// Pages
@import './pages/Home';
@import './pages/Search';
@import './pages/Result';
@import './pages/Label';

// Base Style
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  @include maxWidthHeight();
  @include noMarginPadding();
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

  #root {
    @include maxWidthHeight();
    display: flex;
    flex-direction: column;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
